__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
.venv-model
.venv-model312
.venv-isaacsim6
.docs-venv
uv.lock
rlinf/envs/maniskill/assets
rlinf/assets_isaaclab/
rlinf/assets.zip
PKG-INFO
*.egg-info/
isaac_sim/*
third_party/IsaacLab/
.downloads/isaacsim6/
core
core.*
